<div class="container-fluid login-section justify-content-center d-flex align-items-center">
    <div class="card p-0 login-card shadow-lg">
        <!-- Header -->
        <div class="card-header p-3">
            Login
        </div>
        <!-- Header -->
        <!-- Body -->
        <div class="card-body">
            <form action="" [formGroup]="loginForm">
                <div class="row">
                    <div class="col-xl-12 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="example@example.com" formControlName="username">
                        <div class="text-danger" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
                            Email is required
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="******" formControlName="password">
                        <div class="text-danger" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
                            Email is required
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Body -->
        <!-- Footer -->
        <div class="card-footer">
            <button class="btn btn-primary flex-end float-end" (click)="submit()" [disabled]="!this.loginForm.valid">
                Login
            </button>
        </div>
        <!-- Footer -->
    </div>
</div>